/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-11-28, 17:41:51
    Author     : Tomasz Kozik
*/

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000;
    background-image: url('../images/background-parrot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-family: Calibri, Helvetica, Arial ,sans-serif;   
    min-height: 320px;
}

header, main, footer {
    margin: 0px auto;
    max-width: 1140px;
    width: 100%;
    padding: 2vh;    
}
main {
    display:flex;
    margin: 17vh auto;
    height: calc(30vh);
    justify-content:center;
    align-items:center;
    text-align: center;
    transition: height 200ms linear 0s, padding 200ms linear 0s;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4vh;
    min-height: 20px;
    text-align: center;
    transition: position 200ms linear 0s;
    font-size: 2vh;
}
#logo, #logo img {
    height: 11vh;
    min-height: 45px;
}

.main .button {
    background-color: #000;
    color: #FFF;
    padding: 2vh 4vh;
    border: 0.4vh solid #FFF;
    border-radius: 2vh;
    font-size:  2.3vh;
    font-weight: 500;
    text-decoration: none;
}
.main .button:hover {
    cursor: pointer;
    box-shadow: 0 0 2vh 0 #FFF;
}

#underconst {
    margin: 0px;
    padding: 2vh;
    font-size: 6vh;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2vh;
}

#info {
    padding-bottom: 8vh;
    font-size: 2.3vh;
    text-transform: uppercase;
}

@media (max-height: 600px) {
    #underconst {
        font-size: 36px;
    }
    footer {
        font-size: 12px;
    }
    #info {
        font-size: 13.8px;
    }
    .main button {
        border: 2.4px solid #FFF;
        border-radius: 10px;
        font-size:  13.8px; 
    }
}
    
@media (max-height: 335px) {
    footer {
        position: static;
    }
    main {
        margin-top: 45px;
    }
}